<tr>
  <td><%= name %></td>
  <td><%= change %></td>
  <td><%= changePercent %></td>
  <td><%= changePercentYTD %></td>
  <td><%= high %></td>
  <td><%= low %></td>
  <td><%= lastPrice %></td>
  <td><%= marketCap %></td>
  <td><%= open %></td>
  <td><%= symbol %></td>
  <td><%= volume %></td>
  <td><%= timestamp %></td>
</tr>
