<tr>
  <td><%= Name %></td>
  <td><%= Change %></td>
  <td><%= ChangePercent %></td>
  <td><%= ChangePercentYTD %></td>
  <td><%= High %></td>
  <td><%= Low %></td>
  <td><%= LastPrice %></td>
  <td><%= MSDate %></td>
  <td><%= MarketCap %></td>
  <td><%= Open %></td>
  <td><%= Symbol %></td>
  <td><%= Volume %></td>
  <td><%= Timestamp %></td>
</tr>
